{% extends 'website/base.html' %}

{% load static %}
{% block content %}
<div class="form-content-wrapper">
    <div class="form-content">
        <form action="{% url 'add_project' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="workTitle">Название работы:</label>
            {{form.title}}

            <label for="workDescription">Описание:</label>
            {{form.description}}

            <label for="workCollection">Выберите коллекцию:</label>
            {{form.collection}}

            <label for="workImage">Изображение:</label>
            {{form.image}}

            <label for="workVideo">Видео:</label>
            {{form.video}}

            <button type="submit">Создать работу</button>
        </form>

    </div>
</div>

{% endblock %}