<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link type="text/css" href="{% static 'users/css/form_style.css' %}" rel="stylesheet"/>
</head>

<body>


<form method="post">
    {% csrf_token %}
    <h2>Регистрация нового пользователя</h2>
    <hr>

    <div class="form-error">{{ form.non_field_errors }}</div>

    <label for="login">Логин</label>
    {{ form.username }}

    <label for="password">Пароль</label>
    {{ form.password1 }}

    <label for="passwordRepeat">Повторите пароль</label>
    {{ form.password2 }}

    <button type="submit">Регистрация</button>
</form>

</body>

</html>